* {
    margin: 0;
    padding: 0;
}

.error {
    color: red
}


.form1 {
    /* background-color: cadetblue; */
    height: 200px;
    width: 400px;
    margin-left: 50px;
    display: flex;
}


.form2 {
    height: 200px;
    width: 400px;
    margin-left: 400px;
    display: flex;
}

.reg {
    margin-left: 50px;
}

.login {
    margin: 40px;   
}

/* .chart-container{
    margin: 300px;
} */